body {
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    background: #e9edee;
  }

  header {
    background: #BBBBBB;
	  padding: 20px 0;
  }

  .caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
  }

  nav {
    position: absolute;
    top: 70px;
    right: 150px;
  }
  
  nav li {
    display: inline;
    margin: 0 0 0 15px;
    text-align: center;
  }
  
  nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #C78C19;
    text-decoration: underline;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #555;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    width: 200px;
    margin: 10px;
    text-align: left;
  }
  
  img {
    width: 200px;
  }
  
  form {
    margin-top: 40px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  